<div class="container-fluid py-4">
    <h1 style="color: white;">hello</h1> <%= link_to "show page", show_path %>

    <% x = 1 %>

    <% while x<=100 %>
        <p style="color:red"><%= x %><br></p>
        <% x+=1 %>
    <% end %>
</div>